<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>title</key>
            <string>B</string>
            <key>list</key>
            <array>
                <dict>
                    <key>name</key>
                    <string>白带</string>
                    <key>id</key>
                    <integer>1</integer>
                </dict>
                <dict>
                    <key>name</key>
                    <string>斑疹</string>
                    <key>id</key>
                    <integer>2</integer>
                </dict>
                <dict>
                    <key>name</key>
                    <string>鼻炎</string>
                    <key>id</key>
                    <integer>3</integer>
                </dict>
            </array>
        </dict>
        <dict>
            <key>title</key>
            <string>C</string>
            <key>list</key>
            <array>
                <dict>
                    <key>name</key>
                    <string>出汗异常</string>
                    <key>id</key>
                    <integer>3</integer>
                </dict>
                <dict>
                    <key>icon</key>
                    <string>icon4.png</string>
                    <key>name</key>
                    <string>型男操练</string>
                    <key>id</key>
                    <integer>4</integer>
                    <key>type</key>
                    <string>info</string>
                </dict>
                <dict>
                    <key>icon</key>
                    <string>icon5.png</string>
                    <key>name</key>
                    <string>追爱手册</string>
                    <key>id</key>
                    <integer>5</integer>
                    <key>type</key>
                    <string>info</string>
                </dict>
            </array>
        </dict>
    </array>
</plist>
