<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <string>白带</string>
        <string>斑疹</string>
        <string>鼻炎</string>
        <string>出汗异常</string>
        <string>儿童口吃</string>
        <string>腹痛</string>
        <string>肺炎</string>
        <string>弓形虫病</string>
        <string>骨关节炎</string>
        <string>黄疸</string>
        <string>急性乳腺炎</string>
        <string>偏头痛</string>
        <string>糖尿病</string>
    </array>
</plist>
