<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>男神神器</string>
		<key>list</key>
		<array>
			<dict>
				<key>icon</key>
				<string>icon1.png</string>
				<key>name</key>
				<string>计步器</string>
				<key>id</key>
				<integer>1</integer>
				<key>type</key>
				<string>tool</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon2.png</string>
				<key>name</key>
				<string>心理顾问</string>
				<key>id</key>
				<integer>2</integer>
				<key>type</key>
				<string>tool</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>科普</string>
        <key>list</key>
		<array>
			<dict>
				<key>icon</key>
				<string>icon3.png</string>
				<key>name</key>
				<string>男神生活</string>
				<key>id</key>
				<integer>3</integer>
				<key>type</key>
				<string>info</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon4.png</string>
				<key>name</key>
				<string>型男操练</string>
				<key>id</key>
				<integer>4</integer>
				<key>type</key>
				<string>info</string>
			</dict>
            <dict>
				<key>icon</key>
				<string>icon5.png</string>
				<key>name</key>
				<string>追爱手册</string>
				<key>id</key>
				<integer>5</integer>
				<key>type</key>
				<string>info</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
