<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>title</key>
            <string>女神神器</string>
            <key>list</key>
            <array>
                <dict>
                    <key>icon</key>
                    <string>icon101.png</string>
                    <key>name</key>
                    <string>体重秤</string>
                    <key>id</key>
                    <integer>101</integer>
                    <key>type</key>
                    <string>tool</string>
                </dict>
                <dict>
                    <key>icon</key>
                    <string>icon102.png</string>
                    <key>name</key>
                    <string>心理顾问</string>
                    <key>id</key>
                    <integer>102</integer>
                    <key>type</key>
                    <string>tool</string>
                </dict>
            </array>
        </dict>
        <dict>
            <key>title</key>
            <string>科普</string>
            <key>list</key>
            <array>
                <dict>
                    <key>icon</key>
                    <string>icon103.png</string>
                    <key>name</key>
                    <string>特殊期注意</string>
                    <key>id</key>
                    <integer>103</integer>
                    <key>type</key>
                    <string>info</string>
                </dict>
                <dict>
                    <key>icon</key>
                    <string>icon104.png</string>
                    <key>name</key>
                    <string>健美塑型</string>
                    <key>id</key>
                    <integer>104</integer>
                    <key>type</key>
                    <string>info</string>
                </dict>
                <dict>
                    <key>icon</key>
                    <string>icon105.png</string>
                    <key>name</key>
                    <string>养颜食谱</string>
                    <key>id</key>
                    <integer>105</integer>
                    <key>type</key>
                    <string>info</string>
                </dict>
            </array>
        </dict>
    </array>
</plist>
